<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,78}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{1,1114},{92,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3p10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,110}</string>
                <key>spriteSourceSize</key>
                <string>{131,110}</string>
                <key>textureRect</key>
                <string>{{648,1073},{131,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3p11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,111}</string>
                <key>spriteSourceSize</key>
                <string>{135,111}</string>
                <key>textureRect</key>
                <string>{{502,827},{135,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3p12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,115}</string>
                <key>spriteSourceSize</key>
                <string>{138,115}</string>
                <key>textureRect</key>
                <string>{{473,941},{138,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,117}</string>
                <key>spriteSourceSize</key>
                <string>{141,117}</string>
                <key>textureRect</key>
                <string>{{239,827},{141,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,116}</string>
                <key>spriteSourceSize</key>
                <string>{144,116}</string>
                <key>textureRect</key>
                <string>{{1,827},{144,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,117}</string>
                <key>spriteSourceSize</key>
                <string>{142,117}</string>
                <key>textureRect</key>
                <string>{{123,970},{142,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,116}</string>
                <key>spriteSourceSize</key>
                <string>{142,116}</string>
                <key>textureRect</key>
                <string>{{242,970},{142,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{358,827},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3p18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,109}</string>
                <key>spriteSourceSize</key>
                <string>{142,109}</string>
                <key>textureRect</key>
                <string>{{504,1081},{142,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3p19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,101}</string>
                <key>spriteSourceSize</key>
                <string>{108,101}</string>
                <key>textureRect</key>
                <string>{{779,827},{108,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,92}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{883,1046},{107,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3p20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,100}</string>
                <key>spriteSourceSize</key>
                <string>{108,100}</string>
                <key>textureRect</key>
                <string>{{781,1062},{108,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,99}</string>
                <key>spriteSourceSize</key>
                <string>{107,99}</string>
                <key>textureRect</key>
                <string>{{822,937},{107,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{106,98}</string>
                <key>textureRect</key>
                <string>{{882,827},{106,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,51}</string>
                <key>spriteSourceSize</key>
                <string>{68,51}</string>
                <key>textureRect</key>
                <string>{{95,1114},{68,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{148,1114},{68,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,48}</string>
                <key>spriteSourceSize</key>
                <string>{69,48}</string>
                <key>textureRect</key>
                <string>{{199,1114},{69,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,47}</string>
                <key>spriteSourceSize</key>
                <string>{69,47}</string>
                <key>textureRect</key>
                <string>{{249,1114},{69,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,44}</string>
                <key>spriteSourceSize</key>
                <string>{68,44}</string>
                <key>textureRect</key>
                <string>{{298,1114},{68,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,43}</string>
                <key>spriteSourceSize</key>
                <string>{68,43}</string>
                <key>textureRect</key>
                <string>{{344,1114},{68,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,42}</string>
                <key>spriteSourceSize</key>
                <string>{69,42}</string>
                <key>textureRect</key>
                <string>{{883,1140},{69,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{389,1086},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3p4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,108}</string>
                <key>spriteSourceSize</key>
                <string>{123,108}</string>
                <key>textureRect</key>
                <string>{{712,937},{123,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,120}</string>
                <key>spriteSourceSize</key>
                <string>{131,120}</string>
                <key>textureRect</key>
                <string>{{590,940},{131,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,120}</string>
                <key>spriteSourceSize</key>
                <string>{139,120}</string>
                <key>textureRect</key>
                <string>{{1,973},{139,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,118}</string>
                <key>spriteSourceSize</key>
                <string>{141,118}</string>
                <key>textureRect</key>
                <string>{{119,827},{141,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,111}</string>
                <key>spriteSourceSize</key>
                <string>{143,111}</string>
                <key>textureRect</key>
                <string>{{360,941},{143,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3p9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,108}</string>
                <key>textureRect</key>
                <string>{{639,827},{138,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,91}</string>
                <key>spriteSize</key>
                <string>{998,824}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{998,824}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Explosion Level 3.png</string>
            <key>size</key>
            <string>{1000,1193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7edb64cbe4ce9f19baf469cded7f892b:80083eba8707b554a92a4b28358e2bdb:350df8149a9ed3480d85491a6264e72a$</string>
            <key>textureFileName</key>
            <string>Explosion Level 3.png</string>
        </dict>
    </dict>
</plist>
