<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{429,330},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,163}</string>
                <key>spriteSourceSize</key>
                <string>{169,163}</string>
                <key>textureRect</key>
                <string>{{169,1018},{169,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2p11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,166}</string>
                <key>spriteSourceSize</key>
                <string>{163,166}</string>
                <key>textureRect</key>
                <string>{{1,1184},{163,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2p12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{169,1189},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,161}</string>
                <key>spriteSourceSize</key>
                <string>{162,161}</string>
                <key>textureRect</key>
                <string>{{338,886},{162,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2p14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,163}</string>
                <key>spriteSourceSize</key>
                <string>{166,163}</string>
                <key>textureRect</key>
                <string>{{1,1019},{166,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,165}</string>
                <key>spriteSourceSize</key>
                <string>{166,165}</string>
                <key>textureRect</key>
                <string>{{334,1050},{166,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2p16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{1,851},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,167}</string>
                <key>spriteSourceSize</key>
                <string>{165,167}</string>
                <key>textureRect</key>
                <string>{{169,851},{165,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2p18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,169}</string>
                <key>spriteSourceSize</key>
                <string>{168,169}</string>
                <key>textureRect</key>
                <string>{{1,514},{168,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2p19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{172,342},{169,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{346,330},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,169}</string>
                <key>spriteSourceSize</key>
                <string>{167,169}</string>
                <key>textureRect</key>
                <string>{{172,682},{167,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2p21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{169,169}</string>
                <key>textureRect</key>
                <string>{{1,173},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,165}</string>
                <key>spriteSourceSize</key>
                <string>{168,165}</string>
                <key>textureRect</key>
                <string>{{1,684},{168,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{1,344},{169,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,169}</string>
                <key>spriteSourceSize</key>
                <string>{170,169}</string>
                <key>textureRect</key>
                <string>{{174,171},{170,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,171}</string>
                <key>spriteSourceSize</key>
                <string>{170,171}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2p26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,159}</string>
                <key>spriteSourceSize</key>
                <string>{154,159}</string>
                <key>textureRect</key>
                <string>{{343,412},{154,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{343,573},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,94}</string>
                <key>textureRect</key>
                <string>{{346,234},{96,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,104}</string>
                <key>textureRect</key>
                <string>{{348,128},{105,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,125}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{348,1},{126,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{156,154}</string>
                <key>textureRect</key>
                <string>{{343,730},{156,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,163}</string>
                <key>spriteSourceSize</key>
                <string>{165,163}</string>
                <key>textureRect</key>
                <string>{{333,1218},{165,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{172,512},{169,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2p9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{168,172}</string>
                <key>textureRect</key>
                <string>{{174,1},{168,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Explosion Level 2.png</string>
            <key>size</key>
            <string>{500,1382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fd56278e91aba7eba0f210df46969bf:67dd9340578b01a17fe74d87e32b6568:50f982bc0151f5eb33d7f08a3468b52f$</string>
            <key>textureFileName</key>
            <string>Explosion Level 2.png</string>
        </dict>
    </dict>
</plist>
