<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,75}</string>
                <key>spriteSourceSize</key>
                <string>{88,75}</string>
                <key>textureRect</key>
                <string>{{884,202},{88,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,109}</string>
                <key>spriteSourceSize</key>
                <string>{124,109}</string>
                <key>textureRect</key>
                <string>{{150,453},{124,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,112}</string>
                <key>textureRect</key>
                <string>{{369,448},{128,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,113}</string>
                <key>spriteSourceSize</key>
                <string>{131,113}</string>
                <key>textureRect</key>
                <string>{{736,446},{131,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,115}</string>
                <key>spriteSourceSize</key>
                <string>{133,115}</string>
                <key>textureRect</key>
                <string>{{851,443},{133,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,113}</string>
                <key>spriteSourceSize</key>
                <string>{137,113}</string>
                <key>textureRect</key>
                <string>{{592,231},{137,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1p15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,112}</string>
                <key>spriteSourceSize</key>
                <string>{146,112}</string>
                <key>textureRect</key>
                <string>{{584,117},{146,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1p16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,111}</string>
                <key>spriteSourceSize</key>
                <string>{149,111}</string>
                <key>textureRect</key>
                <string>{{114,152},{149,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,111}</string>
                <key>spriteSourceSize</key>
                <string>{152,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,111}</string>
                <key>spriteSourceSize</key>
                <string>{152,111}</string>
                <key>textureRect</key>
                <string>{{1,155},{152,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,113}</string>
                <key>spriteSourceSize</key>
                <string>{150,113}</string>
                <key>textureRect</key>
                <string>{{1,309},{150,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,83}</string>
                <key>spriteSourceSize</key>
                <string>{97,83}</string>
                <key>textureRect</key>
                <string>{{884,103},{97,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,115}</string>
                <key>spriteSourceSize</key>
                <string>{148,115}</string>
                <key>textureRect</key>
                <string>{{116,303},{148,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,114}</string>
                <key>spriteSourceSize</key>
                <string>{146,114}</string>
                <key>textureRect</key>
                <string>{{584,1},{146,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1p22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,115}</string>
                <key>spriteSourceSize</key>
                <string>{147,115}</string>
                <key>textureRect</key>
                <string>{{467,150},{147,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,112}</string>
                <key>spriteSourceSize</key>
                <string>{149,112}</string>
                <key>textureRect</key>
                <string>{{114,1},{149,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,116}</string>
                <key>spriteSourceSize</key>
                <string>{147,116}</string>
                <key>textureRect</key>
                <string>{{1,461},{147,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1p25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,116}</string>
                <key>spriteSourceSize</key>
                <string>{146,116}</string>
                <key>textureRect</key>
                <string>{{736,120},{146,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1p26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,118}</string>
                <key>spriteSourceSize</key>
                <string>{147,118}</string>
                <key>textureRect</key>
                <string>{{227,152},{147,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,118}</string>
                <key>spriteSourceSize</key>
                <string>{147,118}</string>
                <key>textureRect</key>
                <string>{{228,1},{147,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,118}</string>
                <key>spriteSourceSize</key>
                <string>{146,118}</string>
                <key>textureRect</key>
                <string>{{472,299},{146,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,118}</string>
                <key>spriteSourceSize</key>
                <string>{147,118}</string>
                <key>textureRect</key>
                <string>{{233,301},{147,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,85}</string>
                <key>spriteSourceSize</key>
                <string>{100,85}</string>
                <key>textureRect</key>
                <string>{{884,1},{100,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,117}</string>
                <key>spriteSourceSize</key>
                <string>{147,117}</string>
                <key>textureRect</key>
                <string>{{353,299},{147,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,118}</string>
                <key>spriteSourceSize</key>
                <string>{146,118}</string>
                <key>textureRect</key>
                <string>{{588,447},{146,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1p32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,118}</string>
                <key>spriteSourceSize</key>
                <string>{147,118}</string>
                <key>textureRect</key>
                <string>{{347,150},{147,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,118}</string>
                <key>spriteSourceSize</key>
                <string>{147,118}</string>
                <key>textureRect</key>
                <string>{{348,1},{147,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,117}</string>
                <key>spriteSourceSize</key>
                <string>{146,117}</string>
                <key>textureRect</key>
                <string>{{736,1},{146,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1p35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,114}</string>
                <key>spriteSourceSize</key>
                <string>{147,114}</string>
                <key>textureRect</key>
                <string>{{468,1},{147,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,92}</string>
                <key>spriteSourceSize</key>
                <string>{105,92}</string>
                <key>textureRect</key>
                <string>{{731,238},{105,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,96}</string>
                <key>spriteSourceSize</key>
                <string>{107,96}</string>
                <key>textureRect</key>
                <string>{{818,345},{107,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1p6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,98}</string>
                <key>spriteSourceSize</key>
                <string>{109,98}</string>
                <key>textureRect</key>
                <string>{{707,346},{109,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1p7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{113,98}</string>
                <key>textureRect</key>
                <string>{{592,346},{113,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1p8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,103}</string>
                <key>spriteSourceSize</key>
                <string>{119,103}</string>
                <key>textureRect</key>
                <string>{{483,447},{119,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1p9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,106}</string>
                <key>spriteSourceSize</key>
                <string>{123,106}</string>
                <key>textureRect</key>
                <string>{{261,450},{123,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Explosion Level 1.png</string>
            <key>size</key>
            <string>{970,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:368a4e1ae34d0a93ef771c2b2a19faf3:cbf8203c35cf92eb7af1a038e6ea41e9:7285680ecc578ca78636d2375ddcfcd6$</string>
            <key>textureFileName</key>
            <string>Explosion Level 1.png</string>
        </dict>
    </dict>
</plist>
